.container__login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.image__logo {
  height: 235px;
  width: 235px;

}

.button__enabled {
  background-color: white;
  border: 1px solid #454242;
  border-radius: 28px;
  box-shadow: 0 0 0 0 #06b3e3;
  color: #454242;
  cursor: pointer;
  display: inline-block;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  padding: 5px 30px;
  text-decoration: none;
  text-shadow: 0 1px 0 #06b3e3;
}

.button__enabled:enabled {
  background-color: lightgreen;
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  position: relative;
  top: 1px;
}

.input__login {
  border-radius: 28px;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

