.container__cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container__recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
