.container__cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  width: 50%;
}

.container__recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and ( max-width : 480px ) {

  .container__cards {
    width: 100%;
  }

}
