.container__recipeDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container__header {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  width: 720px;
}

.container__btsTitle {
  background-color: black;
  color: #fdf2d7;
  display: flex;
  justify-content: space-between;
  opacity: 0.4;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  width: 720px;
}

.recipe__photo {
  width: 720px;
}

.container__title {
  align-items: center;
  display: flex;
}

.container__title h3 {
  margin-left: 10px;
  padding-top: 4px;
}

.container__ingredients {
  border-radius: 20px;
  margin: 10px 0;
  padding: 0 10px;
  width: 720px;
}

.container__ingredients ul {
  display: flex;
  flex-flow: column wrap;
  height: 200px;
  list-style-type: decimal-leading-zero;
}

.container__instructions {
  border-radius: 20px;
  margin: 10px 0;
  padding: 0 10px;
  width: 720px;
}

.btn__start {
  background-color: #6b4e3c;
  border: none;
  border-radius: 10px;
  color: #fdf2d7;
  font-size: x-large;
  height: 60px;
  width: 480px;
}


@media screen and ( max-width : 480px ) {

  .container__header {
    width: 360px;
  }

  .container__btsTitle {
    width: 360px;
  }

  .container__ingredients {
    margin-bottom: 100px;
    width: 360px;
  }

  .container__ingredients ul {
    flex-flow: column nowrap;
  }

  .container__instructions {
    width: 360px;
  }

  .recipe__photo {
    height: auto;
    width: 360px;
  }

  .btn__start {
    font-size: larger;
  }

}
