.btn__card {
  background-color: #fdf2d7;
  border-radius: 50px;
  margin: 5px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.img__card {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
}

@media screen and ( max-width : 480px ) {

  p {
    font-size: 14px;
  }

  .btn__card {
    border-radius: 25px;
    width: 160px;
  }

  .btn__card p {
    margin: 0;
  }

  .img__card {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}
