.btn__search {
  background-color: #fdf2d7;
  border-radius: 20px;
}

.container__hidenSearch {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}

.input__searchbar {
  margin-left: 5px;
}
