.container__youtube {
  display: flex;
  flex-direction: column;
}

.container__youtube iframe {
  height: 480px;
  width: 720px;
}


@media screen and ( max-width : 480px ) {

  .container__youtube iframe {
    height: 240px;
    width: 360px;
  }
}
